

.mat-form-field-ripple{
    background-color: $primary-color;
}

.mat-focused .mat-input-placeholder {
    color: $primary-color;
}

.mat-input-element{
    caret-color: #3C4858;
}

.mat-step-icon {
    background-color:#3f629d;
    color: #fff;
  }