<div class="wrapper">
  <div class="overlay" *ngIf="isLoading">
    <div class="spinner-wrapper">
      <div class="container">
        <div class="row">
          <div id="loader">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="login-block">
    <!-- Container-fluid starts -->


    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <form class="md-float-material form-material" name="form"
             [formGroup]="loginForm" novalidate>
            <div class="text-center">
              <img src="assets/images/logo.png" alt="logo.png">
            </div>
            <div class="auth-box card">
              <div class="card-block">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center">Sign In</h3>
                  </div>
                </div>
                <div class="form-group form-primary">
                  <input formControlName="userNumber" type="text" 
                  class="form-control login-input-style" [(ngModel)]="userNumber" [formGroup]="loginForm" required>
                  <span class="form-bar"></span>
                  <label class="float-label">Matricule Or Username </label>
                </div>
                <div class="form-group form-primary">
                  <input formControlName="userPassword" [type]="type" class="form-control login-input-style" [(ngModel)]="userPassword" [formGroup]="loginForm" required>
                  <span class="form-bar"></span>
                  <label class="float-label">Password</label>
                </div>

                <!--<botdetect-captcha captchaStyleName="angularBasicCaptcha"></botdetect-captcha>
                <div id="tapa"
                  style="background-color: #ffffff;height: 10px;width: 250px;position: relative;top: -10px;"></div>
                <br>
                <div title="hola" class="form-group form-primary">-->
                  <!-- captcha code: user-input textbox  -->
                  <!--<input id="userCaptchaInput" name="userCaptchaInput" ngModel #userCaptchaInput="ngModel"
                    class="form-control">
                  <span class="form-bar"></span>
                  <label class="float-label">Retype the characters from the picture:</label>
                </div>-->

                <div class="row m-t-25 text-left">
                  <div class="col-12">
                    <div class="forgot-phone text-right f-right">
                      <a [routerLink]="['/auth/send-reset-password']" class="text-right f-w-600"> Reset Password ?</a>
                    </div>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="submit" (click)="onLogin()" class="btn btn-primary btn-md btn-block waves-light text-center m-b-5 ripple"
                      >Sign
                      in</button>
                  </div>
                </div>
                <div class="col-md-12 text-center" style="font-weight:bold;font-size:smaller;">
                  © Telnet 2023 (Internal use)
                </div>
                <div *ngIf="commitTime!==''" class="col-md-12 text-center" style="font-size:smaller;">
                  Version : <span style="color:#007bff;">{{commitTime}}</span>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <div *ngIf='failedLogin' class="alert alert-danger">
                      <strong>Login failed. Your login is invalid.</strong>
                    </div>
                    <!--<div *ngIf='failedCaptcha' class="alert alert-danger">
                      <strong>Captcha validation failed!</strong>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->

  </section>
</div>