.wrapper {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 90%;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
}
#loader {
    bottom: 0;
    height: 20%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 9%;
}
