
  <div class="modal_header">
    <div class="modal_title">
       
        <span>
            <em class="material-icons modal-close" (click)="close()">close</em>
        </span>
        <h1 mat-dialog-title style="display: inline-block;">New User</h1>
    </div>
</div>

<div class="modal_body">
  <div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
    <form  [formGroup]="productForm">
      
          <mat-form-field class="col-sm-12">
            
            <input matInput placeholder="userNumber" formControlName="userNumber">
          </mat-form-field>
    
          <mat-form-field class="col-sm-12">
            
            <input matInput placeholder="firstName" formControlName="firstName">
          </mat-form-field>
    
          <mat-form-field class="col-sm-12">
            
            <input matInput placeholder="lastName" formControlName="lastName">
          </mat-form-field>
    
          <mat-form-field class="col-sm-12">
            
            <input matInput placeholder="userName" formControlName="userName">
          </mat-form-field>
    
          <mat-form-field class="col-sm-12">
            
            <input matInput placeholder="email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="col-sm-12">
           
            <mat-select placeholder="Activitie" formControlName="activityId">
              <mat-option *ngFor="let activitie of activities" [value]="activitie.activityId">{{ activitie.libelle }}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field class="col-sm-6">
            
            <mat-select placeholder="Team" formControlName="groupId">
              <mat-option *ngFor="let group of groups" [value]="group.groupId">{{ group.libelle }}</mat-option>
            </mat-select>
          </mat-form-field>

          

          

          <mat-form-field class="col-sm-6">
            <mat-select placeholder="Site" formControlName="telnetId">
              <mat-option *ngFor="let site of site" [value]="site.telnetId">{{ site.libelle }}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <div mat-dialog-actions [align]="'end'">
            <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
            &nbsp; &nbsp;
            <button type="submit" class="btn btn-primary ripple light btn-md" (click)="addGroup()">{{actionBtn}}</button>
          </div>
        
    </form>
    
  </div>
</div>   




