.mat-paginator {
    width: 100%;
    float: right;
}

.d-flex {
    display: flex;
}

::ng-deep.mat-select-trigger {
    font-size: 12px;
}
::ng-deep.mat-option {
    font-size: 12px;
}

.go-to-container {
    display: flex;
    align-items: baseline;
    background: white;
    .mat-form-field {
        width: 56px;
        margin: 6px 4px 0 4px;
        font-size: 12px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    .go-to-label {
        width: 36px;
        margin: 0 4px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}
