<div class="page-body">
    <div class="row">
      <div class="col-xl-12 col-lg-12 filter-bar">
        <div class="card m-b-10">
          <div class="card-body p-t-10">
            <div class='row'>
              <div class="col-xl-4 col-lg-12">
                <mat-list>
                  <mat-list-item>
                    <h3 class="mat-subheader col-sm-2">Period</h3>
                    <mat-form-field class="date-field col-sm-5">
                      <input matInput [matDatepicker]="picker11" placeholder="From" 
                         
                        required>
                      <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                      <mat-datepicker #picker11></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="date-field col-sm-5">
                      <input matInput [matDatepicker]="picker22" placeholder="To" 
                           required>
                      <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                      <mat-datepicker #picker22></mat-datepicker>
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item>
                    <h3 class="mat-subheader col-sm-2">Ref.</h3>
                    <mat-form-field class="search-input col-sm-10">
                      <input placeholder="Search here..." matInput name="searchInput" 
                         />
                    </mat-form-field>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="col-xl-4 col-lg-12">
                <mat-list>
                  <mat-list-item>
                    <h3 class="mat-subheader col-sm-2">Activity</h3>
                    <div class="col-sm-10">
                     
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <h3 class="mat-subheader col-sm-2">Title</h3>
                    <mat-form-field class="search-input col-sm-10">
                      <input placeholder="Search here..." matInput name="searchInput" 
                         />
                    </mat-form-field>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="col-xl-3 col-lg-12">
                <mat-list>
                  <mat-list-item>
                    <h3 class="mat-subheader col-sm-2">Status</h3>
                    <div class="col-sm-10">
                      
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <h3 class="mat-subheader col-sm-2">Type</h3>
                    <div class="col-sm-10">
                      
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="col-xl-1 col-lg-12">
                <div class="text-center">
                  <button 
                
                  class="btn btn-md btn-primary ripple m-t-5">Search</button>
                </div>
                <div class="text-center">
                  <button class="btn btn-md btn-default ripple light m-t-10">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-light bg-faded m-b-10 p-10">
          <div class="col-sm-4">
            <button  type="button" class="btn btn-sm btn-primary waves-light m-r-10 ripple"
              style="font-size:inherit;">
              <em class="icofont icofont-plus"></em> Reference
            </button>
          </div>
          
        </nav>
        <div >
          <h1>No Result Found</h1>
        </div>
       
      </div>
    </div>
  </div>
 