<!-- Filtre -->
<div class="page-body">
  <div class="row">
    <div class="col-xl-12 col-lg-12 filter-bar">
      <div class="card m-b-10">
        <div class="card-body p-t-10">
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <mat-list>
                <mat-list-item>
                  <h3 class="mat-subheader col-sm-2">Period</h3>
                  <mat-form-field class="date-field col-sm-5">
                    <input matInput [matDatepicker]="picker110" placeholder="From" [max]="toDate"
                      (keypress)="dateOnly($event)" [(ngModel)]="fromDate" (keydown)="onClickingEnter($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker110"></mat-datepicker-toggle>
                    <mat-datepicker #picker110></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="date-field col-sm-5">
                    <input matInput [matDatepicker]="picker220" placeholder="To" [min]="fromDate"
                      (keypress)="dateOnly($event)" [(ngModel)]="toDate" (keydown)="onClickingEnter($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker220"></mat-datepicker-toggle>
                    <mat-datepicker #picker220></mat-datepicker>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <h3 class="mat-subheader col-sm-2" [hidden]="forbiddenActivityResource">Resource</h3>
                  <mat-form-field class="search-input col-sm-7" [hidden]="forbiddenActivityResource">
                    <input placeholder="Search here..." matInput name="searchInput" [(ngModel)]="resourceName"
                    
                      (keydown)="onClickingEnter($event)" />
                  </mat-form-field>
                  <div class="col-sm-3">
                    <mat-checkbox *ngIf="isSuperAdmin()" [(ngModel)]="onlyMySubordinates">
                      Mines
                    </mat-checkbox>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-xl-4 col-lg-12">
              <mat-list>
                <mat-list-item>
                  <h3 class="mat-subheader col-sm-2" [hidden]="forbiddenActivityResource">Activity</h3>
                  <div class="col-sm-10">
                    <ng-multiselect-dropdown class="multi-search" [placeholder]="'Select...'"
                      [data]="activitiesIdentifiers" [(ngModel)]="selectedActivitiesIdentifiers"
                      [hidden]="forbiddenActivityResource" [settings]="dropdownSettings" style="width: 100%;">
                    </ng-multiselect-dropdown>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-xl-3 col-lg-12">
              <mat-list>
                <mat-list-item>
                  <h3 class="mat-subheader col-sm-2">Status</h3>
                  <div class="col-sm-10">
                    <ng-multiselect-dropdown class="multi-search" [placeholder]="'Select...'"
                      [settings]="dropdownSettingsStatus" [data]="statusIdentifiers"
                      [(ngModel)]="selectedStatusesIdentifiers" style="width: 100%;">
                    </ng-multiselect-dropdown>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-xl-1 col-lg-12">
              <div class="text-center">
                <button (click)="filterWorkFromHomeRequest()"
                  class="btn btn-md btn-primary ripple m-t-5">Search</button>
              </div>
              <div class="text-center">
                <button (click)="onResetAllFilters()" class="btn btn-md btn-default ripple light m-t-10">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-light bg-faded m-b-10 p-10">
        <div class="col-sm-4">
          <button (click)="openEditRequestDialog()" type="button"
            class="btn btn-sm btn-primary waves-light m-r-10 ripple" style="font-size:inherit;">
            <em class="icofont icofont-plus"></em> Add request
          </button>
          <button (click)="exportToExcel()" type="button" class="export btn btn-sm btn-primary m-r-10"
            style="font-size:inherit;">
            <em class="fa fa-file-excel-o" style="font-size:medium;"></em> Export
          </button>
        </div>
        <div class="col-sm-8">
          <app-paginator [pageSize]="searchFilterService.pageSize" [pageIndex]="searchFilterService.pageIndex"
            [length]="lengthWorkFromHomeRequests"></app-paginator>
        </div>
      </nav>
      <div *ngIf="lengthWorkFromHomeRequests === 0">
        <h1>No Result Found</h1>
      </div>
      <div class="wrapper">
        <div class="overlay" *ngIf="isLoading">
          <div class="spinner-wrapper">
            <div class="container">
              <div class="row">
                <div id="loader">
                  <mat-spinner></mat-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="listView" class="loaded-content" [class.blurred]="isLoading">
          <app-work-from-home-request-table
            [workFromHomeRequests]="workFromHomeRequests | paginator:searchFilterService.pageIndex:searchFilterService.pageSize">
          </app-work-from-home-request-table>
        </div>
      </div>
    </div>
  </div>
</div>