.filter-button {
  text-align: center;
  width: 100%;
  margin: 2%;
}

.search-input {
  font-size: 14px;
}

.date-field {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

.reset-all-btn {
  cursor: pointer;
  font-size: 20px;
  &:hover {
    color: red;
  }
}

.arrow-icon {
  font-size: 10px;
}

.close-icon {
  float: right;
  font-size: 22px;
}

.multi-search {
  width: 100%;
}


.ngb-accordion {
  .card {
    .card-header {
      padding-left: 5px;
      .a {
        font-size: 15px;
      }
    }
  }
}

.mat-list {
  .mat-subheader {
    height: 40px;
    padding: 0px 5px;
    font-size: 15px;
    font-weight: bolder;
  }
}

.mat-list-header {
  height: 40px;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: bolder;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

.mat-checkbox-layout {
  margin-bottom: 0;
  .mat-checkbox-label {
    font-size: 15px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.54);
  }
}
