<div class="modal_header">
  <div class="modal_title">
     
      <span>
          <em class="material-icons modal-close" (click)="close()">close</em>
      </span>
      <h1 mat-dialog-title style="display: inline-block;">New Team</h1>
  </div>
</div>

<div class="modal_body">
<div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
        <form [formGroup]="productForm" >
            

    <mat-form-field class="col-sm-12">
        
        <input formControlName="libelle" matInput type="text" placeholder="Name"/>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      
      <mat-select formControlName="selectedUsers" placeholder="Users" multiple>
        <!-- Add a search input -->
        <mat-option>
          <ngx-mat-select-search  [placeholderLabel]="'Search'"
              [noEntriesFoundLabel]="'No options found'" type="search" (keyup)="applyFilter($event)">
              <mat-icon ngxMatSelectSearchClear>close</mat-icon>
          </ngx-mat-select-search>
      </mat-option>
        <!-- add a mat-option for selectAll -->
        <mat-option [value]="selectAllValue" (click)="toggleSelectAll()">
          {{ selectAllLabel }}
        </mat-option>
        <!-- add other mat-options for each user -->
        <mat-option *ngFor="let user of filteredUsers" [value]="user.userId">
          {{ user.firstName }} {{user.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    

    <div class="row m-t-20">
      <div class="col-lg-12">
          <div class="row f-right">
              <div class="col-lg-12">
                  <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
                  &nbsp; &nbsp;
    <button type="submit" class="btn btn-primary ripple light btn-md" (click)="addGroup()">{{actionBtn}}</button>
  </div>
</div>
</div>
</div>

</form>
    
</div>
</div>   



