<div class="card {{ fullCard }} {{ cardLoad }}" [@cardClose]="cardClose" [ngClass]="cardClass">
  <div class="card-header ripple" *ngIf="title">
    <h5>{{ title }}</h5>
    <span *ngIf="!classHeader">{{ headerContent }}</span>
    <span *ngIf="classHeader">
      <ng-content select=".code-header"></ng-content>
    </span>
    <div class="card-header-right" *ngIf="!cardOptionBlock">
      <ul class="list-unstyled card-option" [@cardIconToggle]="cardIconToggle">
        <li *ngIf="!isCardToggled" (click)="toggleCardOption()"><em class="fa fa open-card-option fa-wrench"></em></li>
        <li *ngIf="isCardToggled" (click)="toggleCardOption()"><em class="fa fa open-card-option fa-times"></em></li>
        <li><em class="fa {{ fullCardIcon }} full-card" (click)="fullScreen($event)"></em></li>
        <li><em class="fa fa-minus minimize-card" appCardToggleEvent (click)="toggleCard($event)"></em></li>
        <li><em class="fa fa-refresh reload-card" (click)="cardRefresh($event)"></em></li>
        <li><em class="fa fa-trash close-card" (click)="closeCard($event)"></em></li>
      </ul>
    </div>
  </div>

  <div [@cardToggle]="cardToggle" class="card-block-hid">
    <div class="card-block" [ngClass]="blockClass">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="card-loader" *ngIf="loadCard"><em class="fa fa-spinner rotate-refresh"></em></div>
</div>