<!--<div
  class="form-container mat-elevation-z5 text-center"
  
>
  <h1>Update Profile</h1>


  <div class="profile-image">
    <img
      width="120"
      height="120"
      class="margin-top mat-elevation-z1"
      src="/assets/images/image-placeholder.png"
    />
    <button mat-mini-fab color="primary" (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button></div>
    <input #inputField id="imageInput" type="file" (change)="fileChangeEvent($event)" hidden formControlName="picture">


  <form class="margin-top"  >
    <div class="row">
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="userNumber"
          placeholder="User Number"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="userName"
          placeholder="User Name"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstName"
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="email"
        placeholder="Email"
      />

    </mat-form-field>

    <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="qualification"
          placeholder="Qualification"
        />
      </mat-form-field>
    </div>
<br>
    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Save
    </button>
  </form>
</div>-->
<app-navbar></app-navbar>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" >

           <!-- <img src="{{picture}}" alt="Profile" class="rounded-circle">-->
            <img [src]="picture ? picture : '/assets/images/image-placeholder.png'"alt="Profile" class="rounded-circle">


            <h2>{{ userName }} {{lastName}}</h2>
            <h3>{{ selectedActivitie?.libelle }}</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8" >

        <div class="card" >
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                

                <h5 class="card-title">Profile Details</h5>

                
                  <div>
                    <label  class="col-md-4 col-lg-3 col-form-label">Full Name:</label> {{ userName }} {{lastName}}
                </div>
                  
                <div>
                  <label  class="col-md-4 col-lg-3 col-form-label">User Name:</label> {{ userName }} 
              </div>
                
              <div>
                <label  class="col-md-4 col-lg-3 col-form-label">User Number:</label> {{userNumber}}  
            </div>
                <div >
                  <label  class="col-md-4 col-lg-3 col-form-label">Email:</label>{{email}}
                </div>
                <div>
                  <label  class="col-md-4 col-lg-3 col-form-label">Activitie:</label> {{ selectedActivitie?.libelle }}
              </div>
              <div>
                <label class="col-md-4 col-lg-3 col-form-label">Group:</label> {{ selectedGroup?.libelle }}
              </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form class="example-form" [formGroup]="productForm">
                 <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="pt-2">
                        <div>
                          <img [src]="productForm.controls['picture'].value ? productForm.controls['picture'].value : '/assets/images/image-placeholder.png'" alt="User Picture" height="100">
                        
                          <input #inputField id="imageInput" type="file" name="image" accept="image/*" (change)="onFileSelected($event)" hidden formControlName="picture"><br>
                          <div class="d-flex">
                            <a class="btn btn-primary btn-sm" title="Upload new profile image" (click)="inputField.click()"><i class="bi bi-upload"></i></a>
                            <a class="btn btn-danger btn-sm" title="Remove my profile image" (click)="deleteProfilePicture()"><i class="bi bi-trash"></i></a>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">User Number</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="userNumber" type="text" class="form-control" id="userNumber" formControlName="userNumber">
                    </div>
                  </div>
                  

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">User Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="userName" type="text" class="form-control" id="userName" formControlName="userName">
                    </div>
                  </div>
                

                  

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">First Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="firstName" type="text" class="form-control" id="firstName" formControlName="firstName">
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <label  class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="lastName" type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                  </div>

                  

                  <div class="row mb-3">
                    <label  class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control" id="Email"  formControlName="email">
                    </div>
                  </div>
                

                 
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" (click)="updateprofil()">Save Changes</button>
                  </div>
                </form>
              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- Settings Form -->
                <form>

                  

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End settings Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input formControlName="currentPassword" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Confirm New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">
                    </div>
                  </div>
                
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                  </div>
                </form>
                <!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
      
    </div>
  
      

  </section>

</main><!-- End #main -->