<div class="modal_header">
    <div class="modal_title">
       
        <span>
            <em class="material-icons modal-close" (click)="close()">close</em>
        </span>
        <h1 mat-dialog-title style="display: inline-block;">New Ticket</h1>
    </div>
</div>
<div class="modal_body">
    <div class="p-20 z-depth-top-0 waves-effect" placement="bottom">
      <form [formGroup]="productForm">
            <div class="row m-b-6" *ngIf="selectedGroup?.libelle === 'Support'">
                <mat-form-field class="col-sm-12">
                  <mat-select placeholder="Pris en charge par" name="resource" required formControlName="userId">
                    <ngx-mat-select-search [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No options found'" type="search"
                      (keyup)="applyFilter($event)">
                      <mat-icon ngxMatSelectSearchClear>close</mat-icon>
                    </ngx-mat-select-search>
                    <mat-option *ngFor="let user of filteredUsers" [value]="user.userId">
                      {{ user.firstName + ' ' + user.lastName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              

              <div class="row m-b-6">
                <div class="col-sm-6" *ngIf="selectedGroup?.libelle === 'Support'">
                  <mat-form-field class="col-sm-12">
                    <input matInput readonly type="text" formControlName="fullName" [value]="firstName + ' ' + lastName" placeholder="Ressouce" required>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                    <mat-select placeholder="Site" formControlName="telnetId">
                      <mat-option *ngFor="let site of sites" [value]="site.telnetId">{{ site.libelle }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row m-b-6">
                <div class="col-sm-6">
                  <mat-checkbox class="checkbox-halfday" formControlName="halfDayCheckBox" (change)="OnChangeHalfDay()">
                    Half Day
                  </mat-checkbox>
                </div>
                <mat-form-field class="col-sm-6">
                  <mat-select placeholder="Day Time..." name="DayTime" [disabled]="!productForm.get('halfDayCheckBox').value" formControlName="halfDay">
                    <mat-option *ngFor="let item of halefDayItems" [value]="item">
                      {{ item }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row m-b-6">
                <mat-form-field class="date-field col-sm-6">
                  <input matInput [matDatepicker]="picker11" placeholder="From" (keypress)="dateOnly($event)" (ngModelChange)="onChangingDate()" formControlName="startDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                  <mat-datepicker #picker11></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field class="date-field col-sm-6">
                  <input name="EndDate" matInput [matDatepicker]="picker22" placeholder="To" (keypress)="dateOnly($event)" [disabled]="isHalfDayChecked" [required]="!isHalfDayChecked" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                  <mat-datepicker #picker22></mat-datepicker>
                </mat-form-field>
              </div>
              
              
               <!--<mat-list>
                    <mat-list-item>
                      <h3 class="mat-subheader col-sm-2">Status</h3>
                      <div class="col-sm-10">
                        <ng-multiselect-dropdown class="multi-search" [placeholder]="'Select...'"
                          [settings]="dropdownSettingsStatus" [data]="statusIdentifiers"
                          [(ngModel)]="selectedStatusesIdentifiers" style="width: 100%;">
                        </ng-multiselect-dropdown>
                      </div>
                    </mat-list-item>
                  </mat-list>--> 
                  <mat-form-field class="col-sm-6">
                    <mat-select placeholder="Priorite" name="Priorite" formControlName="priorite">
                      <mat-option *ngFor="let priorite of priorites" [value]="priorite.value">
                        <ng-container *ngIf="priorite.icon === URGENT_ICON_NAME || priorite.icon === URGENT_ICON_hight || priorite.icon === URGENT_ICON_Medium || priorite.icon === URGENT_ICON_low">
                          <img [src]="'assets/' + priorite.icon" class="icon" />
                        </ng-container>
                        <ng-container *ngIf="priorite.icon !== URGENT_ICON_NAME && priorite.icon !== URGENT_ICON_hight && priorite.icon !== URGENT_ICON_Medium && priorite.icon !== URGENT_ICON_low">
                          <span class="icon">{{ priorite.icon }}</span>
                        </ng-container>
                        {{ priorite.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  

                  <mat-form-field class="col-sm-6">
                    <mat-select placeholder="Type" name="Type" formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type.value">{{ type.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
 
               <div *ngIf="selectedGroup?.libelle === 'Support'">
                  <mat-form-field class="col-sm-6">
                    <mat-select placeholder="etat" name="etat" formControlName="id">
                      <mat-option *ngFor="let etat of etats" [value]="etat.id">{{ etat.libelle }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
<br>                
   
    
                
                <label for="exampleFormControlTextarea1">Description</label>
<div class="textarea-container">
    <div>
        <label for="exampleFormControlFile1">
            <mat-icon>attach_file</mat-icon>
        </label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <angular-editor [placeholder]="'Enter text here...'" [config]="config" formControlName="description"></angular-editor>
</div>



          
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="row f-right">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
                            &nbsp; &nbsp;
                            <button type="submit" class="btn btn-primary ripple light btn-md"(click)="addTicket()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
