<h3> View User Details</h3>
<div>
  <div>
    <label>Full Name:</label> {{ user?.firstName }} {{ user?.lastName }}
  </div>
  
  <div>
    <label>User Name:</label> {{ user?.userName }} 
  </div>
  
  <div>
    <label>User Number:</label> {{ user?.userNumber }}  
  </div>
  
  <div>
    <label>Email:</label> {{ user?.email }}
  </div>
 
  <div>
    <label>Activity:</label> {{ selectedActivity?.libelle }}
  </div>

  <div>
    <label>Group:</label> {{ selectedGroup?.libelle }}
  </div>
</div>








