<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material" action="javascript:"  [formGroup]="resetPasswordForm">
          <div class="text-center">
            <img src="assets/images/logo.png" alt="logo.png">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center">Reset Password</h3>
                </div>
              </div>
              <div  class="form-group form-primary">
                <div class="form-group form-primary">
                  <input type="password" name="newPassword" formControlName="password" class="form-control login-input-style" required>
                  <span class="form-bar"></span>
                  <label class="float-label">New Password</label>
                </div>
                <div class="form-group form-primary" style="margin-top: -10px;">
                  <app-password-strength-bar [passwordToCheck]="newPassword" [barLabel]="barLabel" ></app-password-strength-bar>
                </div>
                <div class="form-group form-primary">
                  <input type="password" name="confirmPassword" formControlName="confirmPassword" class="form-control login-input-style"  required>
                  <span class="form-bar"></span>
                  <label class="float-label">Confirm New Password</label>
                </div>
              </div>
              <label *ngIf="!inputValid" class="f-w-600 text-center" style="size:3px; color:red">
                Please confirm your new password
              </label>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" (click)="reset()" [disabled]="!resetPasswordForm.valid"
                    class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">Reset
                    Password</button>
                </div>
              </div>
              <p class="f-w-600 text-right">
                <a [routerLink]="['/auth/login']">Back to Login.</a>
              </p>
            </div>
          </div>
        </form>
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>