.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }
  
  .right-align {
    text-align: right;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.right-align {
    -moz-appearance: textfield;
  }
  
  ::ng-deep .mat-checkbox .mat-checkbox-frame{
    border-color: #3f629d;
  }

  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #3f629d;
  }

.expand-collapse-icon{
    cursor: pointer;
    position: relative;
    top: 7px;
}


.absenceDayOffRowStyle{
    background-color: #3f629d;
    color: white;
}

.modal_body{
    height: 320px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    overflow-y: auto;
}

.modal_footer{
    padding: 10px; 
    margin-bottom: 20px;
  }

.table{
    //overflow-y: auto;
    table{
        width: 100%;
    }
}

.modal_header{
    height: 50px;
    background-color: #3f629d;
    padding: 18px 15px;
  
    .modal_title{
      color: #ffffff;
      line-height: 1;
    }
  
    .modal-close{
      float: right; 
      cursor: pointer;
      &:hover{
        color: red;
      }
    }
  
    .modal-close-disabled{
      cursor: not-allowed;
      color: gainsboro;
      &:hover{
        color: gainsboro;
      }
    }
  }

  .mat-dialog-container{
    border-radius: 5px !important;
    padding: 0 !important;
    overflow: hidden;
  }
  .popup-filter{
    font-size: large;
    margin-bottom: -0.15em;
    margin-top: -1em;
  }
  .mat-popup-filter{
    width: 420px;
  }
  .search-bar-container{
    margin-top: -1.8em;
  }
 
   