<form class="form-container">
    <div class="modal_header">
        <div class="modal_title">
            <span>
                Change Password
            </span>
        </div>
    </div>
    <div class="modal_body">
        <div class="container">
            <mat-form-field class="form-group form-primary">
                <mat-label>Current Password</mat-label>
                <input matInput placeholder="Current Password" name='password'
                    [type]="hideCurrentPassword ? 'password' : 'text'" [(ngModel)]="password" class="login-input-style"
                    required>
                <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
                    <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="container">
            <mat-form-field class="form-group form-primary">
                <mat-label>New Password </mat-label>
                <input matInput placeholder="New Password" required name='newPassword'
                    [type]="hideNewPassword ? 'password' : 'text'" [(ngModel)]="newPassword" class="login-input-style">
                <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="container" style="margin-top: -20px;">
            <app-password-strength-bar [passwordToCheck]="newPassword" [barLabel]="barLabel" (passwordStrength)="getPasswordStrength($event)"></app-password-strength-bar>
        </div>
        <div class="container">
            <mat-form-field class="form-group form-primary">
                <mat-label>Confirm New Password</mat-label>
                <input matInput placeholder="Confirm New Password" required name="newPasswordConfirmed"
                    [type]="hideNewPasswordConfirmed ? 'password' : 'text'" [(ngModel)]="newPasswordConfirmed"
                    class="login-input-style">
                <button mat-icon-button matSuffix (click)="hideNewPasswordConfirmed = !hideNewPasswordConfirmed"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPasswordConfirmed">
                    <mat-icon>{{hideNewPasswordConfirmed ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="modal_footer">
        <div class="pull-right">
            <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button> &nbsp; &nbsp;
            <button type="submit" class="btn btn-primary" (click)="changePassword()">Change</button>
        </div>
    </div>
</form>