
<app-navbar></app-navbar>
<main id="main" class="main">


<!-- Filtre -->
<div class="page-body">
  <div class="row">
    <div class="col-xl-12 col-lg-12 filter-bar">
      <div class="card m-b-10">
        <div class="card-body p-t-10">
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <mat-list>
                <mat-list-item>
                  <h3 class="mat-subheader col-sm-2">Period</h3>
<mat-form-field class="date-field col-sm-5">
  <input matInput [matDatepicker]="picker110" placeholder="From" [max]="toDate" [(ngModel)]="fromDate">
  <mat-datepicker-toggle matSuffix [for]="picker110"></mat-datepicker-toggle>
  <mat-datepicker #picker110></mat-datepicker>
</mat-form-field>
<mat-form-field class="date-field col-sm-5">
  <input matInput [matDatepicker]="picker220" placeholder="To" [min]="fromDate" [(ngModel)]="toDate">
  <mat-datepicker-toggle matSuffix [for]="picker220"></mat-datepicker-toggle>
  <mat-datepicker #picker220></mat-datepicker>
</mat-form-field>



                  <h3 class="mat-subheader col-sm-2">Resource</h3>
                  <div class="col-sm-10">
                    <mat-form-field class="search-input col-sm-7">
                      <input placeholder="Search here..." matInput name="searchInput"  (input)="applyFilter($event)" />
                    </mat-form-field>
                  </div>
                  <h3 class="mat-subheader col-sm-2">Activity</h3>
                  <div class="col-sm-10">
                    <mat-form-field class="search-input col-sm-7">
                      <input placeholder="Search activity..." matInput name="activitySearchInput" (input)="applyFilterActivity($event)" />
                    </mat-form-field>
                  </div>
                </mat-list-item>
              <mat-list-item>
                  <h3 class="mat-subheader col-sm-2">Type</h3>
                  <div class="col-sm-10">
                  <mat-form-field class="search-input col-sm-7">
                    <input placeholder="Search type..." matInput name="typeSearchInput" (input)="applyFiltertype($event)" />
                  </mat-form-field>
                </div>
                  <!-- site -->
              
              
              <!-- Ajout du champ de recherche par site -->
              
              <h3 class="mat-subheader col-sm-2">Site</h3>
              <div class="col-sm-10">
                <mat-form-field class="search-input col-sm-7">
                  <input placeholder="Search site..." matInput name="siteSearchInput" (input)="applyFiltersite($event)" />
                </mat-form-field>
              </div>
             
              
            
              <h3 class="mat-subheader col-sm-2">State</h3>
              <div class="col-sm-10">
                <mat-form-field class="search-input col-sm-7">
                  <input placeholder="Search state..." matInput  (input)="applyFilterState($event)" />
                </mat-form-field>
              </div>
               <!-- ... -->
               <div class="col-xl-1 col-lg-12">
                <div class="text-center">
                  <button class="btn btn-md btn-primary ripple m-t-5" mat-button (click)="applyFilterDateRange()">Search</button>
                </div>
                <div class="text-center">
                  <button class="btn btn-md btn-default ripple m-t-5 custom-button" (click)="resetFilter()">Reset</button>
                </div>
                
                
                </div>
                </mat-list-item>
              </mat-list>
              
            </div>
            
          </div>
        </div>
      </div>


        <nav class="navbar navbar-light bg-faded m-b-10 p-10">
          <div class="col-sm-4">
            <button  type="button"
              class="btn btn-sm btn-primary waves-light m-r-10 ripple" style="font-size:inherit;" (click)="openEditRequestDialog()">
              <em class="icofont icofont-plus"></em> Add request
            </button>
            
          </div>
         
        </nav>
 
<!--tab ticket-->
<div class="example-container mat-elevation-z8" >

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="userNumber" class=" table-hover table-striped table-styling">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</mat-header-cell>
      <mat-cell *matCellDef="let ticket" >
        {{ticket.userUserNumber}}
      </mat-cell>
    </ng-container>

   <!--<ng-container matColumnDef="userNumber" class=" table-hover table-striped table-styling">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</mat-header-cell>
      <mat-cell *matCellDef="let ticket" matTooltip="{{ticket.userNumber}}">
        {{ticket.userNumber}}
      </mat-cell>
    </ng-container>--> 

    <ng-container matColumnDef="userFullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Resource</mat-header-cell>
      <mat-cell *matCellDef="let ticket"> {{ticket.username}} {{ticket.userfirstname}}</mat-cell>
    </ng-container>




    
    <ng-container matColumnDef="activityName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
      <mat-cell *matCellDef="let ticket">{{ticket.activityName}}</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let ticket"> {{ticket.startDate |date:'E dd/MM/y'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
      <mat-cell *matCellDef="let ticket"> {{ticket.endDate |date:'E dd/MM/y'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dayNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Day(s)</mat-header-cell>
      <mat-cell *matCellDef="let ticket">{{ ticket.dayNumber }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let ticket">{{ ticket.typeValue }}</mat-cell>
  </ng-container>



    <ng-container matColumnDef="site">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Site</mat-header-cell>
      <mat-cell *matCellDef="let ticket">{{ ticket.siteLabel }}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let ticket" [ngClass]="getEtatClass(ticket.etatLabel)">{{ ticket.etatLabel }}</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <button class="btn btn-mini btn-primary m-r-5 ripple light f-right" (click)="editticket(ticket)" type="button" matTooltip="Edit"
       
        >
          
         <!--<em class="material-icons">done</em></button>
        <button class="btn btn-mini btn-danger m-r-5 ripple light" type="button" matTooltip="Reject">
         
          <em class="material-icons">cancel</em></button>
        <button class="btn btn-mini btn-primary m-r-5 ripple light" type="button"
           matTooltip="Edit">-->
          
          <em class="material-icons">edit</em>
        </button>
        <button class="btn btn-mini btn-danger ripple light" (click)="deleteticket(ticket.ticketId)" type="button" matTooltip="Delete">
          
          
          <em class="material-icons">delete</em></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class=" table-primary table-*"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
    showFirstLastButtons 
    aria-label="Select page of periodic ticket">
  </mat-paginator>
</div>
</div></div></div>